.login-link {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: var(--nav-text-color);
    text-decoration: none;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.login-link::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 1px;
    background-color: var(--nav-text-color-onhover);
    transition: width 0.2s ease-in-out;
}

.login-link:hover::before {
    width: 100%;
}

.user-bar {
    min-height: 100px;
    margin: 15px 5px 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px 0px;
    border: 1px solid;
    border-radius: 10px;
    border-color: var(--catalog-border-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-info {
    max-width: 1000px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.user-bar-container {
    max-width: 1002px;
    width: 100%;
    margin: 0 auto;
}

.user-card {
    display: flex;
    width: fit-content;
    justify-content: left;
    margin-left: 40px;
    align-items: center;
}

.user-pfp {
    width: 50px;
    height: 50px;
    border: 0px solid;
    border-radius: 15px;
}

.user-details {
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--nav-text-color);
}

.user-links {
    display: grid;
}

.username {
    font-weight: bold;
    color: var(--discount-secondary);
    font-size: 20px;
}

.edit-profile-btn {
    font-size: 15px;
    color: var(--nav-text-color);
    text-decoration: none;
}

.edit-profile-btn:hover {
    color: var(--nav-text-color-onhover);
    text-decoration: underline;
}

.logout-btn {
    font-size: 15px;
    color: var(--nav-text-color);
    text-decoration: none;
}

.logout-btn:hover {
    color: var(--nav-text-color-onhover);
    text-decoration: underline;
}

.cart {
    display: flex;
    justify-content: right;
    margin-right: 40px;
    width: fit-content;
    align-items: center;
    text-decoration: none;
}

.cart img {
    width: 50px;
    height: 50px;
}

.cart-details {
    margin-right: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: var(--nav-text-color);
    text-align: right;
    text-decoration: none;
}

.total-price-of-items-in-cart {
    font-size: 25px;
    font-weight: bold;
    color: var(--discount-secondary);
}

@media screen and (max-width: 500px) {
    .user-info {
        flex-direction: column;
        margin-left: 5px;
        margin-right: 5px;
    }
    .cart {
        flex-direction: row-reverse;
        justify-content: left;
        margin: 10px auto 10px 10px;
    }
    .user-card {
        margin: 10px auto 10px 10px;
    }
    .cart-details {
        text-align: left;
    }
}
