<div class="catalog-tile">
    <a class="catalog-name" href="/catalog/{{catalogUUID}}">
        <img class="catalog-tile-img" src="{{catalogPicture}}" alt="img">
        <p class="catalog-name-p">{{catalogName}}</p>
    </a>
</div>