<footer>
    <div class="footer-container">
        <div class="footer-links">
            <div class="column">
                <h4>About</h4>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">For Customers</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
            <div class="column">
                <h4>Support</h4>
                <ul>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Terms &amp; Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Shipping Information</a></li>
                    <li><a href="#">Returns &amp; Refunds</a></li>
                </ul>
            </div>
            <div class="column">
                <h4>Others</h4>
                <ul>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Careers</a></li>
                </ul>
            </div>
        </div>
        <div class="about-us">
            <p>We pride ourselves on offering a vast selection of top-notch parts and accessories, carefully curated to
                meet the needs of car enthusiasts and professionals alike. Whether you're searching for engine
                components, electrical parts, or stylish upgrades, we've got you covered. Our dedicated team of experts
                ensures that every product we carry meets stringent quality standards. With our seamless online shopping
                experience and exceptional customer service, you can trust us to deliver excellence right to your
                doorstep. Drive with confidence and unlock the true potential of your vehicle with our exceptional car
                parts selection.</p>
        </div>
        <div class="footer-bottom">
            <div class="offers">
                <p>*Applies to selected products. This percentage may be omitted, increased or decreased.
                    It does not refer to a price that was actually charged previously</p>
            </div>
            <div class="credits">
                <p>&copy; Artem Zhdanov, M3O-232Б-21, MAI, 2023</p>
            </div>
        </div>
    </div>
</footer>