<footer>
    <div class="footer-container">
        <div class="about-us">
            <h1>About us</h1>
            <p>We are dedicated to providing high-quality automotive parts and accessories to our customers at affordable prices.
                With years of experience in the industry, we understand the importance of reliable and durable parts for your vehicle,
                and we strive to deliver only the best. We are constantly updating our inventory with the latest products and innovations
                in the industry to ensure that we offer the most comprehensive selection of car parts and accessories.
                So whether you are a professional mechanic or a car enthusiast, we have everything you need to keep your
                vehicle running smoothly and looking great.</p>
        </div>
        <div class="footer-bottom">
            <div class="offers">
                <p>*Applies to selected products. This percentage may be omitted, increased or decreased.
                    It does not refer to a price that was actually charged previously</p>
            </div>
            <div class="credits">
                <p>&copy; Artem Zhdanov, M3O-232Б-21, MAI, 2023</p>
            </div>
        </div>
    </div>
</footer>