<div class="product-tile" id="{{productUUID}}">
    <div class="product-img-section">
        <img src="{{previewPicture}}" class="product-img" alt="">
    </div>
    <div class="product-info-section">
        <a class="product-name" href="/product/{{productUUID}}">{{productName}}</a>
        <div class="product-attributes">
            {{#productAttributes}}
                <div class="product-attribute">
                    <img class="product-attribute-img" src="{{attributePicture}}" alt="">
                    <p class="product-attribute-value">{{attributeValue}}</p>
                    <span class="product-attribute-title">{{attributeName}}</span>
                </div>
            {{/productAttributes}}
        </div>
        <div class="product-info-footer">
            <a class="product-rating" href="/product/{{productUUID}}#reviews">Rating: {{productRating}}</a>
            {{#isProductOnSale}}
                <div class="product-on-sale-tile">On Sale</div>
            {{/isProductOnSale}}
        </div>
    </div>
    <div class="product-buttons-section">
        <div class="product-price-section">
            {{#isProductOnSale}}
                <div class="product-sale-old-price"><s>$<span class="product-price-value">{{productPriceInPennies}}</span></s></div>
                <div class="product-sale-new-price">$<span class="product-price-value">{{productPriceInPennies}}</span></div>
            {{/isProductOnSale}}
            {{^isProductOnSale}}
                <div class="product-price">$<span class="product-price-value">{{productPriceInPennies}}</span></div>
            {{/isProductOnSale}}
        </div>
        {{#isAuthenticated}}
            {{#isProductInCart}}
                <button class="go-to-cart-button" onclick="goToCart()">In cart</button>
            {{/isProductInCart}}
            {{^isProductInCart}}
                <button class="add-to-cart-button">Add to cart</button>
            {{/isProductInCart}}
        {{/isAuthenticated}}
        {{^isAuthenticated}}
            <a class="unauthenticated-add-to-cart-button" href="/login">Log in to place items in cart</a>
        {{/isAuthenticated}}
    </div>
</div>