<div class="user-bar-container">
    <div class="user-bar">
        {{#isUserAuthorized}}
            {{#user}}
                <div class="user-card">
                    <img class="user-pfp" src="{{avatar}}" alt="">
                    <div class="user-details">
                        <div class="username">{{name}}</div>
                        <div class="user-links">
                            <a href="/profile" class="edit-profile-btn">Profile</a>
                            <a href="/logout" class="logout-btn">Log out</a>
                        </div>
                    </div>
                </div>
            {{/user}}
            <div class="cart" href="/">
                <a href="/cart" class="cart-details">
                    <div class="goods">{{totalAmountOfItemsInCart}} items</div>
                    <div class="price">$<span id="price">{{totalPriceOfItemsInCart}}</span>
                    </div>
                </a>
                <img src="/static/img/basket.svg" alt="cart">
            </div>
        {{/isUserAuthorized}}
        {{^isUserAuthorized}}
            <a class="login-link" href="/login">Login with Github</a>
        {{/isUserAuthorized}}
    </div>
    <script>
        var valueElement = document.getElementById("price");
        var value = parseInt(valueElement.innerHTML);
        valueElement.innerHTML = (value / 100).toFixed(2);
    </script>
</div>