<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/blocks/catalog.css">
    <link rel="stylesheet" href="/static/css/blocks/products-list.css">
    <link rel="stylesheet" href="/static/css/blocks/products-filters.css">
    <link rel="icon" href="/static/img/favicon.svg" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Parts Store - {{currentCatalog.catalogName}}</title>
</head>
<body>
{{>partials/header}}
<div class="user-bar-container">
    <div class="user-bar" id="user-bar"></div>
</div>
<div class="catalog" id="catalog">
    {{^isCatalogPathEmpty}}
        <div class="catalog-path">
            {{#catalogPath}}
                <a class="catalog-link" href="/catalog/{{catalogUUID}}">{{catalogName}}</a>
                <span class="catalog-path-delimiter"> > </span>
            {{/catalogPath}}
            <span class="catalog-path-current-catalog">{{currentCatalog.catalogName}}</span>
        </div>
    {{/isCatalogPathEmpty}}
    <div class="catalog-title">
        <p>{{currentCatalog.catalogName}}</p>
    </div>
    {{^isChildrenCatalogsEmpty}}
        <div class="catalog-list">
            {{#childrenCatalogs}}
                {{>partials/catalog-tile}}
            {{/childrenCatalogs}}
        </div>
    {{/isChildrenCatalogsEmpty}}
</div>
{{^isProductsEmpty}}
    <div class="products">
        <div class="products-header">
            <h1 class="products-title" id="products-title"></h1>
            <div class="sorting-bar">
                <button class="sorting-type-btn" type="button" id="sort-by-price-asc-btn">cheap first</button>
                <button class="sorting-type-btn" type="button" id="sort-by-price-desc-btn">expensive first</button>
                <button class="sorting-type-btn" type="button" id="sort-by-popularity-asc-btn">unpopular first</button>
                <button class="sorting-type-btn" type="button" id="sort-by-popularity-desc-btn">popular first</button>
            </div>
        </div>
        <div class="products-main">
            <div class="products-list" id="products-list-container"></div>
        </div>
    </div>
{{/isProductsEmpty}}
{{>partials/footer}}
<script>
    var url = window.location.href;
    var catalogUUID = url.split('/');
    catalogUUID = catalogUUID[catalogUUID.length - 1];
</script>
<!-- Template for Product Tile -->
<script type="text/html" id="product-template">
    <div class="product-tile">
        <div class="product-img-section">
            <img src="" class="product-img" alt="">
        </div>
        <div class="product-data-section">
            <div class="product-info-section">
                <a class="product-name" href=""></a>
                <div class="product-price">
                    $<span class="product-price-value"></span>
                </div>
            </div>
            <div class="product-buttons-section">
                <div class="product-buttons">
                    <div class="product-attributes"></div>
                    <div class="product-info-footer">
                        <a class="product-rating" href=""></a>
                    </div>
                </div>
                <div class="cart-button-section"></div>
            </div>
        </div>

    </div>
</script>
<script src="/static/js/elements.js"></script>
<script src="/static/js/user-bar-loader.js"></script>
<script>
    var sortingButtons = document.querySelectorAll('[class*="sorting-type-btn"]');
    var sortingType = 'POPULARITY_ASC';


    var sortByPriceAscButton = document.getElementById("sort-by-price-asc-btn");
    sortByPriceAscButton.addEventListener("click", function () {
        sortingType = 'PRICE_ASC';
        loadProductsList();
        disableSortingButton(sortByPriceAscButton);
    });
    var sortByPriceDescButton = document.getElementById("sort-by-price-desc-btn");
    sortByPriceDescButton.addEventListener("click", function () {
        sortingType = 'PRICE_DESC';
        loadProductsList();
        disableSortingButton(sortByPriceDescButton);
    });
    var sortByPopularityAscButton = document.getElementById("sort-by-popularity-asc-btn");
    sortByPopularityAscButton.addEventListener("click", function () {
        sortingType = 'POPULARITY_ASC';
        loadProductsList();
        disableSortingButton(sortByPopularityAscButton);
    });
    var sortByPopularityDescButton = document.getElementById("sort-by-popularity-desc-btn");
    sortByPopularityDescButton.addEventListener("click", function () {
        sortingType = 'POPULARITY_DESC';
        loadProductsList();
        disableSortingButton(sortByPopularityDescButton);
    });

    disableSortingButton(sortByPopularityDescButton);

    var params = url.substring(url.indexOf("?") + 1).split("&");
    params.forEach(function (param) {
        var paramName = param.split("=")[0];
        if (paramName === "s") {
            document.getElementById("search").value = param.split("=")[1].replaceAll("+", " ");
        }
    });

    function disableSortingButton(selectedButton) {
        sortingButtons.forEach(button => enableSortingButton(button));
        selectedButton.className = "sorting-type-btn-selected";
        selectedButton.disabled = true;
    }

    function enableSortingButton(button) {
        button.className = "sorting-type-btn";
        button.disabled = false;
    }

    function addToCart(productUUID, cartButtonContainer) {
        fetch('/api/cart/add-product', {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ productUUID : productUUID }) // Replace with the data you want to send

            })
                .then(response => {
                    if (response.ok) {
                        cartButtonContainer.innerHTML = '';
                        loadCartButton("go", cartButtonContainer, goToCart);
                        loadUserBar();
                    }
                    else {
                        console.log(response.status, JSON.stringify(response.body));
                    }
                })
                .catch(error => {
                    console.error('Error: ', error);
                });

    }

    function goToCart() {
        window.location.href = "/cart";
    }
</script>
<script src="/static/js/products-list-loader.js"></script>
</body>
</html>
